
<footer>
    <div class="container">
        <div class="row ">
            <div class="col-12 text-center">
                <div class="top-footer">
                    <h2>Start learning new things & build your skills today</h2>
                    <p>Build your next landing page fast & easy</p>
                    <ul class="d-flex flex-column flex-md-row justify-content-center">
                        <li><a class="btn-left" href="#">Watch free tutorials</a></li>
                        <li><a class="btn-right" href="#">Get Started Now<i class="fa-solid fa-angle-right gsap-footer-icon"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>



        <div class="row footergap align-items-center bottom-footer">
            <div class="col-lg-6 text-center text-lg-start">
                <p>© Copyright 2022, All Rights Reserved</p>
            </div>
            <div class="col-lg-6 text-center text-lg-end">
                <ul class="d-flex justify-content-center justify-content-lg-end">
                    <li>
                        <a  href="#">Support</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditins</a>
                    </li>
                    <li>
                        <a  href="#">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    </div>
</footer>