<footer>


    <div class="container">
        <div class="bottom-footer">
            <div class="row footergap align-items-center ">
                <div class="col-lg-6 text-center text-lg-start">
                    <p>© Copyright 2022, All Rights Reserved</p>
                </div>
                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="d-flex justify-content-center justify-content-lg-end">
                        <li>
                            <a href="#">Support</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditins</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    </div>
    </div>
</footer>