

// fonts
    // size
    $size_0:80px;
    $size_1:20px;
    $size_2:16px;
    $size_3:24px;
    $size_4:13px;
    $size_5:48px;
    $size_6:42px;
   
    // colors
    $color_1:#12141D;
    $color_2:#ffffff;
    $color_3:#FAFAFA;
    $color_4:#2B59FF;
    $color_5:#18181B;
    // family
    $family_1:"Space Grotesk";
    $family_2:"Inter";
    $family-3:"Plus Jakarta Sans";
    
